/**
*  Colors
*  should match with theme.ts styles
**/
// $primary: blue;
$accent: deep-orange;
$error: red; // todo
$primary-color-light:  #1976D2;
$primary:        #00b0ff;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5722;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;
