<footer class="android-footer mdl-mega-footer">
          <div class="mdl-mega-footer--top-section">
            <div class="mdl-mega-footer--left-section">
              <md-button class="mdl-mega-footer--social-btn"></md-button>
              &nbsp;
              <md-button class="mdl-mega-footer--social-btn"></md-button>
              &nbsp;
              <md-button class="mdl-mega-footer--social-btn"></md-button>
            </div>
          </div>

          <div class="mdl-mega-footer--middle-section">
            <p class="mdl-typography--font-light"> © socially 2014 Astrium, DigitalGlobe</p>
          </div>

          <div class="mdl-mega-footer--bottom-section">
            <a class="android-link android-link-menu mdl-typography--font-light" id="version-dropdown">
              Other Boiler Plate
              <i class="material-icons">arrow_drop_up</i>
            </a>
            <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="version-dropdown">
              <li class="mdl-menu__item"><a href="#">Differential</a></li>
              <li class="mdl-menu__item"><a href="#"></a>Meteor Kitchen</li>
              <li class="mdl-menu__item"><a href="#"></a>Meteorits</li>
              <li class="mdl-menu__item"><a href="#"></a>Angular-meteor</li>
            </ul>
            <a class="android-link android-link-menu mdl-typography--font-light" id="developers-dropdown">
              Meteor Generator
              <i class="material-icons">arrow_drop_up</i>
            </a>
            <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="developers-dropdown">
              <li class="mdl-menu__item"><a href="#">App developer resources</a></li>
              <li class="mdl-menu__item"><a href="#">Android Open Source Project</a></li>
              <li class="mdl-menu__item"><a href="#">Android SDK</a></li>
              <li class="mdl-menu__item"><a href="#">Android for Work</a></li>
            </ul>
            <a class="android-link mdl-typography--font-light" href="">Angular Material</a>
            <a class="android-link mdl-typography--font-light" href="">Google Material Design Lite</a>
          </div>
</footer>
