<md-toolbar class="md-whiteframe-z3 md-medium-tall" layout-fill>
      <div class="md-toolbar-tools" layout-align="center center">
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon>menu</md-icon>
        </md-button>
        <span flex></span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input md-padding" type="text" id="search" />
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
         </div>
         <div class="md-padding">
            <md-icon>notifications</md-icon>
          </div>
        <div class="md-icon-button md-padding" aria-label="Favorite">
          <md-icon>favorite</md-icon>
        </div>
        <div class="md-icon-button md-padding" aria-label="Email">
          <md-icon>email</md-icon>
        </div>
        <!-- <md-button class="md-icon-button" aria-label="More" id="demo-menu-lower-right">
          <md-icon>more_vert</md-icon>
        </md-button> -->
      </div>

      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-lower-right">
        <li class="mdl-menu__item">Some Action</li>
        <li class="mdl-menu__item">Another Action</li>
        <li disabled class="mdl-menu__item">Disabled Action</li>
        <li class="mdl-menu__item">Yet Another Action</li>
      </ul>
</md-toolbar>
