.sidebar {
  &--list {
    a {
        text-decoration: none;
    }
  }
  &--menu-item {
    margin: 0;
    &:hover {
      background: darken(white, 10%);
    }
  }
}
md-sidenav{
  background-color: #727272;
}

md-list md-list-item:hover{
  background-color: #262d2d;
  color: $primary-color-light;
}
