  <md-sidenav class="md-sidenav-left md-sticky md-whiteframe-z3" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex>
     <md-toolbar class="md-accent md-sticky md-whiteframe-z3">
      <a class="md-toolbar-tools md-padding md-tall" href="/"><img src="images/praytify-logo.png" alt="Praytify" /></a>
    </md-toolbar>
    <md-content style="min-height: 0; flex: 1; overflow: auto;">
      <header class="drawer-header md-padding" layout="row">
                <div class="md-padding">
                  <img src="images/user.jpg" alt="">
                </div>
                <div class="avatar-dropdown" layout-align="end center">
                  <span>{{$root.currentUser.username}}</span>
                   <button id="accountbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <md-icon>arrow_drop_down</md-icon>
                  </button>
                  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accountbtn">
                    <button class="mdl-menu__item">Profile</button>
                    <button class="mdl-menu__item">Settings</button>
                    <button class="mdl-menu__item">Lock Screen</button>
                  </ul>
                </div>
      </header>
      <md-divider ></md-divider>
      <md-content>
        <md-list layout="column" layout-alight="start center">
            <md-list-item href="">
              <md-icon>home</md-icon>
                <span class="md-padding">Dashboard</span>
            </md-list-item>
            <md-list-item href="" >
                <md-icon >forum</md-icon>
              <span class="md-padding">Activity</span>
            </md-list-item>
            <md-list-item href="" >
              <md-icon >email</md-icon>
               <span class="mdl-badge md-padding" data-badge="7">Messages</span>
            </md-list-item>
            <md-list-item href="" >
              <md-icon >report</md-icon>
              <span class="md-padding">Spam</span>
            </md-list-item>
            <md-list-item href="" >
              <md-icon >people</md-icon>
              <span class="md-padding">Friends</span>
            </md-list-item>
            <md-list-item   href="">
              <md-icon >bookmark</md-icon>
              <span class="md-padding">Bookmarks</span>
            </md-list-item>
            <md-list-item href="" >
              <md-icon >local_offer</md-icon>
              <span class="md-padding">settings</span>
            </md-list-item>
          <!--<md-divider></md-divider>-->
        </md-list>
      </md-content>
    </md-content>
    <md-button>
      <md-icon >
        help_outline
      </md-icon>
    </md-button>
    <md-button ui-sref="logout" ng-show="$root.currentUser" translate="ACCOUNTS.LOGOUT" aria-label="Logout"></md-button>
..</md-sidenav>
